:root {
    color-scheme: light dark;
    --bg-color: rgb(250, 250, 250);
    --color: rgba(32, 32, 32, 1);
    --color2: rgba(250, 250, 250, 0.8);
    --bd-color: rgba(64, 64, 64, 0.5);
    --hl-color: rgba(0, 200, 200, 0.8);
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    background-color: var(--bg-color);
    color: var(--color);
    box-sizing: border-box;
}

div.cdiv {
    min-width: 700px;
    min-height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid var(--bd-color);
    border-radius: 1px;
    padding: 25px;
}
div.header {
    display: flex;
}
div.hleft {
    float:left;
    flex: 30;
    text-align: left;
}
div.hright {
    float: right;
    flex: 30;
    text-align: right;
}
div.hcenter {
    flex: 40;
    text-align: center;
}
div.section {
    text-align: left;
}