:root {
    color-scheme: light dark;
    --bg-color: rgb(250, 250, 250);
    --bg-color2: rgba(128, 128, 128, 0.2);
    --bg-color3: rgba(128, 128, 128, 0.8);
    --color: rgba(64, 64, 64, 0.8);
    --color2: rgba(250, 250, 250, 0.8);
    --bd-color: rgba(64, 64, 64, 0.4);
    --hl-color: rgba(0, 200, 200, 0.8);
}

@keyframes bunnyRun {
    0% {margin-right: -20%; }
    70% {margin-right: -20%; }
    100% {margin-right: 100%; }
}
@-webkit-keyframes bunnyRun {
    0% {margin-right: -20%; }
    70% {margin-right: -20%; }
    100% {margin-right: 100%; }
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--color);
    box-sizing: border-box;
    
    user-select: none;
    -webkit-user-select: none;
}

a#resume {
    background-color: var(--bg-color2);
    padding: 2px 4px 6px 4px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
a#resume:hover {
    background-color: var(--hl-color);
    color: var(--color2);
    transition: all 0.5s ease-in-out;
}

.cdiv {
    min-width: 300px;
    width: 80%;
    max-width: 720px;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(-50%, 0%);

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 30px;
}

.ddiv {
    width: 100%;
    border: 1px solid var(--bd-color);
    border-radius: 4px;
    padding: 4px;
    margin: 8px 0px;
}
.cwords {
    padding: 8px;
    text-align: center;
}
.flex-container {
    width: inherit;
    display: flex;
    justify-content: center;
    align-content:space-evenly;
    gap: 4px;
}
.button {
    flex: 100;
    text-align: center;
    padding:8px;
    border-radius: 4px;
    background-color: var(--bg-color2);
    transition: all 0.5s ease-in-out;
}
.button:hover {
    cursor: pointer;
    background-color: var(--hl-color);
    color: var(--color2);
    transition: all 0.5s ease-in-out;
}
#main-title {
    width: auto;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 6px;
    margin-bottom: 8px;
}

.btn-span {
    cursor: pointer;
    padding: 2px 8px 4px 8px;
    border-radius: 4px;
    background-color: var(--bg-color2);
    transition: all 1s;
}
#title-name-span:hover {
    background-color: var(--bg-color3);
    color: var(--color2);
    transition: all 0.5s ease-in-out;
}
